<html>
<head>
    <title>Home Page</title>
</head>
<body>
    <div>
        <button id="LogInBtn">
            LogIn
        </button>
    </div>
    <div id="logInContainer" style="display: none">
        <label>
            E-mail
            <input id="emailBox" type="email" placeholder="Enter your e-mail" required>
        </label>
        <label>
            Password
            <input id="passwordBox" type="password" placeholder="Enter your password" required>
        </label>
    </div>
</body>
</html>